{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(etudiantForm) }}
        {{ form_widget(etudiantForm)}}

       
<style>
.btn{
    background color: #007bff;
    border radius : 5px;
}
</style>
        <button type="submit" class="btn">Register</button>
    {{ form_end(etudiantForm) }}
{% endblock %}